!!! 5
doctype 5
html(lang="en")
  head
    title = "Octocat Me"
    link(rel="stylesheet" href="css/style.css")
    script(src="js/libs/modernizr-2.5.3.min.js")
    script(src="js/jQuery-Custom-File-Input")
  body
    span(class="splash")
    header
    div(role="main")
     div(id="container")
      div(id="toprightbox")
        div(id="splashbox")
          div(id="logo")
           img(src="artwork/octocat-logo.png")
      div(id="ribbon")
      div(id="topright-text")
        p Upload a photo of you, get a GitHub-style Octocat that looks like you!
          span(class="bigbutton")Shit yeah! Let's go!
    footer
      p Built with love by
        a(href="http://girldeveloper.com", target="_blank")Sara Chipps,
        a(href="http://marketpublique.com", target="_blank")Pamela Castillo,
        a(href="http://milkmusket.net/", target="_blank") => and
        a(href="http://tonybacigalupo.com", target="_blank")Tony Bacigalupo => at 
        a(href="http://www.photohackday.org/", target="_blank")PhotoHackDay 2 in NYC.
        p This site is not affiliated with or endorsed by GitHub, Inc. GitHub&trade;, Octocat&reg;, and the Octocat&reg; design are registered trademarks of GitHub, Inc.
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')
    script(src="js/plugins.js")
    script(src="js/script.js")
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
           (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
