!!!
head
  title Elizabeth & Clarke
  link(rel='stylesheet', href='/stylesheets/style.css')
body
  .topbar
    .brand Elizabeth & Clarke
    ul
      li: a(href='/login') Login 
      li: a(href='/register') Register 
      li: a(href='/levels') Levels 
      li: a(href='/users') Users

  .container!= body
