!!!
head
  title octocat me 
  link(rel='stylesheet', href='/stylesheets/style.css')
body
  .topbar
    .brand octocat me
    ul
      li: a(href='/login') Login 
      li: a(href='/register') Register 
      li: a(href='/users') Users

  .container!= body
