!!!
head
  title octocat me 
  link(rel='stylesheet', href='/stylesheets/style.css')
body
  .topbar
    .brand octocat me
    ul
      li: a(href='user/login') Login 
      li: a(href='user/register') Register 
      li: a(href='user/users') Users

  .container!= body
