script(src='javascripts/raphael-min.js')
script(src='javascripts/raphael-svg-import.js')
script(src='javascripts/raphael-shapes.js')
script(src=' https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script
  $(document).ready(function(){
    var data = $("#info").val();
    var photo = JSON.parse(data);
    
  });
div#paper(style='min-height:500px')
div#info(style='display:none', value=photo)