body {
  margin: 0
  padding: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background #f7f7f7
}

a {
  color: #00B7FF;
}

.topbar
  position: relative
  background: #222
  color: white
  padding 10px
  .brand
    font-weight: bold
  ul
    margin 0
    padding 0
    position absolute
    right 10px
    top 10px
    list-style-type: none
    li
      display: inline
  a
    color: white

.container
  width 920px
  padding 20px
  margin 20px auto
  background white
  border 1px solid #ccc

table
  width 100%
  border-collapse collapse
  td, th
    border 1px solid #999
    padding 5px
